doctype html
html
  head
    title ParkEase
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="/public/css/style.css")

    nav.navbar.navbar-expand-lg.navbar-light.bg-light.light-sm
  .container
    a.navbar-brand.fw-bold(href="/dashboard") ParkEase

    button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#nav")
      span.navbar-toggler-icon

    .aside.sidebar#nav
      ul.navbar-nav.me-auto.mb-2.mb-lg-0
            if user 
              if user.role === "Admin"
                li.nav-item 
                  a.nav-link(href="/dashboard") Dashboard
                li.nav-item 
                  a.nav-link(href="/reports") Reports
                li.nav-item 
                  a.nav-link(href="/admin-reports") Admin-Reports
              if user.role === "Manager"
                li.nav-item 
                  a.nav-link(href="/dashboard") Dashboard
                li.nav-item 
                  a.nav-link(href="/battery-service") Battery Section
                li.nav-item 
                  a.nav-link(href="/tyre-service") Tyre service
              if user.role === "Attendant"
                li.nav-item 
                  a.nav-link(href="/dashboard") Dashboard
                li.nav-item 
                  a.nav-link(href="/register-vehicle") Register 
                  li.nav-item 
                  a.nav-link(href="/sign-out") Sign Out 
      div.d-flex.ms-lg-3.align-items-center
        if user 
          span.text-dark.me-3.small 
            i.fa-solid.fa-user-circle.me-1 
            | Hi, #{user.firstName}
            span.badge.bg-secondary.ms-1 #{user.role}
          a.btn.btn-outline-danger.btn-sm.fw-bold(href="/logout") Log Out
        else 
          a.btn.btn-outline.light.me-2(href="/login") Log in
        if !hideNavbar
    main.main-content
      .container-fluid.p-4
        block content

    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js")
    br 
    footer.bg-dark.text-white.py-4.mt-auto 
      .text-center 
        p.mb-0 &copy;  2026 Tumuhaise Bridget. All Rights Reserved

